header{
   text-align: center;
}

body{
    top: 400px;
    left:400px;
    background-color: brown;
}

#conteudo{
    margin-top: 200px;
    text-align: left;
    margin-left: 550px;
    background-color: yellow;
    
}

#conteudo2{
    margin-top: 50px;
    text-align: left;
    margin-left: 550px;
}


#btnEnviar{
    text-align: right;
    margin-left: 26%;
}

#nome{
    margin-left: 31px;
}


button{
    text-align: right;
}
#botao1{
    background-color: blue;
}
#botao2{
    background-color: green;
}
#botao3{
    background-color: red;
}

footer{
    margin-top: 200px;
    text-align: center;
}